---
import "@styles/global.css";
const {
  title = "Mi Marca",
  description = "Descripción por defecto de mi marca.",
} = Astro.props;

interface Props {
  title?: string;
  description?: string;
}
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <!-- favicon -->
    <link rel="icon" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
